<h1>SEM HTML/ESTILO PRE-DEFINIDO</h1>
<app-template-outlet-list-example [htmlTemplate]="tableList" [list]="list">
  <div select="header">header personalizado</div>
  <ng-template #tableList let-item let-index="index">
    <div>{{ index }} - {{item.nome}}</div>
  </ng-template>
</app-template-outlet-list-example>

<div style="margin: 16px 0;"></div>

<h1>COM HTML/ESTILO PRE-DEFINIDO</h1>
<app-template-outlet-list-com-html-example [htmlTemplate]="tableListComHtmlPredefinido" [list]="list">
  <div select="header">header personalizado</div>
  <ng-template #tableListComHtmlPredefinido let-item let-index="index">
    <li>{{ index }} - {{item.nome}}</li>
  </ng-template>
</app-template-outlet-list-com-html-example>